<div class="container">
	<div class="row justify-content-center m-2">
		<h2>Customer Registration</h2>

	</div>
	
	<div class="row justify-content-center">
		<div class="col-6">

			<form [formGroup]="register" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="ssnId">SSN Id</label> <input type="text"
						class="form-control" id="ssnId" placeholder="SSN Id" required
						formControlName="ssnId">
					<div
						*ngIf="register.get('ssnId').hasError('required') && register.get('ssnId').touched"
						class="alert alert-danger">please enter SSN Id</div>
					<div
						*ngIf="register.get('ssnId').hasError('pattern') && register.get('ssnId').touched"
						class="alert alert-danger">SSN Id must be 9 digit number</div>
				</div>
				<div class="form-group">
					<label for="customerName">Customer Name</label> <input type="text"
						class="form-control" id="customerName" placeholder="Customer Name"
						required formControlName="customerName">
					<div
						*ngIf="register.get('customerName').hasError('required') && register.get('customerName').touched"
						class="alert alert-danger">please enter Name</div>
					<div
						*ngIf="register.get('customerName').hasError('pattern') && register.get('customerName').touched"
						class="alert alert-danger">please enter valid Name</div>
				</div>

				<div class="form-group">
					<label for="age">Age</label> <input type="text"
						class="form-control" id="age" placeholder="Age" required
						formControlName="age">
					<div
						*ngIf="register.get('age').hasError('required') && register.get('age').touched"
						class="alert alert-danger">please enter age</div>
				</div>
				<div class="form-group">
					<label for="address">Address</label> <input type="text"
						class="form-control" id="address" placeholder="Address" required
						formControlName="address">
					<div
						*ngIf="register.get('address').hasError('required') && register.get('address').touched"
						class="alert alert-danger">please enter address</div>
				</div>
				<div class="form-group">
					<label for="city">City</label> <input type="text"
						class="form-control" id="city" placeholder="City" required
						formControlName="city">
					<div
						*ngIf="register.get('city').hasError('required') && register.get('city').touched"
						class="alert alert-danger">please enter city</div>
				</div>
				<div class="form-group">
					<label for="state">State</label> <input type="text"
						class="form-control" id="state" placeholder="State" required
						formControlName="state">
					<div
						*ngIf="register.get('state').hasError('required') && register.get('state').touched"
						class="alert alert-danger">please enter state</div>
				</div>
				<div class="form-group">
					<label for="email">Email</label> <input type="email"
						class="form-control" id="email" placeholder="Email id" required
						formControlName="email">
					<div
						*ngIf="register.get('email').hasError('required') && register.get('email').touched"
						class="alert alert-danger">please enter email</div>
				</div>
				<div class="form-group">
					<label for="contactNo">Contact Number</label> <input type="text"
						class="form-control" id="contactNo" placeholder="Contact No"
						formControlName="contactNo">
					<div
						*ngIf="register.get('contactNo').hasError('required') && register.get('contactNo').touched"
						class="alert alert-danger">please enter Contact Number</div>
				</div>
				<button type="submit" [disabled]="register.invalid"
					class="btn btn-info" data-toggle="modal" data-target="#exampleModall">Submit</button>
			</form>
		</div>
	</div>
</div>



<div class="modal fade" id="exampleModall" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Registration
					Status</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row justify-content-center m-2" *ngIf="message">
					<div class="alert alert-success" role="alert">{{message}}</div>
				</div>
				<div class="row justify-content-center m-2" *ngIf="errormessage">
					<div class="alert alert-danger" role="alert">SSN Id already present</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>