<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-info">
  <a class="navbar-brand" href=""><b>Bank Management</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href=""><b>Home</b></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         	<b>Customer Service</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/customer">Cust. Regi.</a>
          <a class="dropdown-item" routerLink="/viewall">View All</a>
          <a class="dropdown-item" routerLink="/viewbyssn">View by SSN </a>
          <a class="dropdown-item" routerLink="/viewbycity">View by city </a>
          <a class="dropdown-item" routerLink="/viewbyemail">View by email </a>
             <a class="dropdown-item" routerLink="/viewbycontactno">View by contactNo. </a>
            <a class="dropdown-item" routerLink="/checkcustomer">Check Customer </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>Account Service</b> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/account">Create Account</a>
          <a class="dropdown-item" routerLink="#">Delete Account</a>
          <a class="dropdown-item" routerLink="/byaccid">View by Account Id </a>
          <a class="dropdown-item" routerLink="/bycustid">View by Customer Id </a>
          <a class="dropdown-item" routerLink="/allacc">view All Accounts </a>
          <a class="dropdown-item" href="#">Check Account </a>
        </div>
      </li>
    </ul>
  </div>
   <span class="navbar-text"> <b> Name</b>
	</span>
</nav>



